absl-py==2.0.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.7
aiosignal==1.3.2
anyio==4.9.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
astunparse==1.6.3
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.3
biopython==1.85
bleach==6.2.0
blinker==1.4
blosc2==3.2.0
cachetools==5.3.1
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==3.2.0
cheroot==10.0.1
comm==0.2.2
contourpy==1.3.1
cryptography==3.4.8
cycler==0.12.1
dbus-python==1.2.18
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
distro==1.7.0
etils==1.12.2
executing==2.2.0
fastjsonschema==2.21.1
flatbuffers==23.5.26
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.6.0
fsspec==2025.5.1
gast==0.5.4
gcsfs==2025.5.1
google-api-core==2.25.0
google-auth==2.40.2
google-auth-oauthlib==1.0.0
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpcio==1.58.0
gviz-api==1.10.0
h11==0.14.0
h5py==3.9.0
httpcore==1.0.7
httplib2==0.20.2
httpx==0.28.1
idna==3.4
importlib-metadata==4.6.4
importlib_resources==6.5.2
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
isoduration==20.11.0
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.7.1
Jinja2==3.1.6
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
keras==2.14.0
keyring==23.5.0
kiwisolver==1.4.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
libclang==16.0.6
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.10.1
matplotlib-inline==0.1.7
mistune==3.1.3
ml-dtypes==0.2.0
more-itertools==8.10.0
msgpack==1.1.0
multidict==6.4.4
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.6.0
notebook==7.3.3
notebook_shim==0.2.4
numexpr==2.10.2
numpy==1.26.0
oauthlib==3.2.0
opt-einsum==3.3.0
overrides==7.7.0
packaging==23.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.6
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.1
proto-plus==1.26.1
protobuf==4.24.3
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.22
Pygments==2.19.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu2
python-dateutil==2.9.0.post0
python-json-logger==3.3.0
pytz==2025.1
PyYAML==6.0.2
pyzmq==26.4.0
referencing==0.36.2
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.24.0
rsa==4.9
seaborn==0.13.2
SecretStorage==3.3.1
Send2Trash==1.8.3
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
stack-data==0.6.3
tables==3.10.2
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboard_plugin_profile==2.19.7
tensorflow==2.14.0
tensorflow-addons==0.23.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.18.1
tinycss2==1.4.0
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typeguard==2.13.3
types-python-dateutil==2.9.0.20241206
typing_extensions==4.8.0
tzdata==2025.1
uri-template==1.3.0
urllib3==2.0.5
wadllib==1.3.6
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==2.3.7
widgetsnbextension==4.0.13
wrapt==1.14.1
yarl==1.20.0
zipp==1.0.0
